<!-- Logo header  -->

<div class="container-fluid header">
    <div class="row">
        <div class="col">
            <img src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/24K_Logo_Gold.png?v=1624752271" alt="24K nail spa logo" class="p-5 mt-2 mx-auto d-block logo">
        </div>
    </div>
</div>

<!-- Nav bar  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid flex-row-reverse">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item border-bottom">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <!-- <li class="nav-item border-bottom">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link" href="#">Apply</a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link" href="#">About Us</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
    <!-- Section Image With Text maybe... -->
    <div class="hero">
        <div class="container ">
            <div class="row">
                <div class="col text-center mt-5">
                    <h1>24K Nail Salon Coming Soon!</h1>
                </div>
            </div>
            <div class="row hero-text">
                <div class="col text-center m-5">
                    <h2>We Are Hiring!</h2>
                    <p>24K nail spa is currently under contruction, as renovations are underway for the next 3 to 4
                        months
                        we will be actively searching for talented nail technicians looking to start there career. Nail
                        Techs at 24K make anywhere from $15 to $35 an hour based on skill and experience. We welcome
                        nail techs who are currently in school to recieve their license. If you have already recieved
                        your license that is a PLUS! We will be opening in the heart of Broadripple!<br>
                        <br>We will be located at <strong>815 Broadripple Ave Indianapolis IN</strong>! Right next door
                        to insomnia
                        cookie!<br><br>
                        If you or someone you know would like to apply please send us your resume, phone number, & best
                        time to schedule a call to <strong>info@24knailspa.com</strong>. If you have a social media page
                        where you post
                        your work we encourage you to send us your handle so we can see your skill level.
                    </p>
                </div>
            </div>
        </div>
    </div>