.location {
  @extend %sec-padding;

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-text {
      position: relative;
      //   width: 40vw;
      flex-grow: 1;
      flex-shrink: 1;
      //   height: 30rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      padding: 5rem;
      svg {
        position: absolute;
        top: -20rem;
        right: 0;
        width: 80rem;
        z-index: -1;
      }
      h2,
      h3 {
        position: relative;
        font-size: font-size(regular);
        top: 0;
        left: 0;
        z-index: 10;
        text-align: center;
        width: 100%;
        color: var(--quaternary-dark);
      }
    }
    &-map {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: center;
      iframe {
        width: 60rem;
      }

      //   flex: 1 1 auto;
      //   width: 40vw;
    }
  }
  @include media-tablet {
    &__content {
      &-text {
        h2,
        h3 {
          font-size: font-size(medium);
        }
      }
      &-map {
        iframe {
          width: 40rem;
        }
      }
    }
  }
}
